<div class="navbar navbar-expand navbar-dark bg-dark">
  <a
    href="https://www.linkedin.com/in/vianamaciel-java-backend/"
    class="navbar-brand ms-1"
  >
    <img
      width="80"
      class="rounded-image"
      alt="my image"
      src="../assets/images/fotoperfil.jpg"
    />
    <p>LearnEasy</p>
  </a>
  <div class="navbar-nav ms-auto">
    <div class="nav-item" *ngIf="currentUser && isAdmin()">
      <a [routerLink]="['/admin']" routerLinkActive="active" class="nav-link"
        >Admin</a
      >
    </div>

    <div class="nav-item">
      <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link"
        >Home</a
      >
    </div>
  </div>

  <div class="navbar-nav ms-auto" *ngIf="!currentUser?.sub">
    <div class="nav-item">
      <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link"
        >Sign Up</a
      >
    </div>
    <div class="nav-item">
      <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link"
        >Sign In</a
      >
    </div>
  </div>

  <div class="navbar-nav ms-auto" *ngIf="!!currentUser?.sub">
    <div class="nav-item">
      <a
        [routerLink]="['/profile']"
        routerLinkActive="active"
        class="nav-link"
        >{{ currentUser?.sub }}</a
      >
    </div>
    <div class="nav-item">
      <a (click)="logOut()" class="nav-link" style="cursor: pointer"
        >Sign Out</a
      >
    </div>
  </div>
</div>

<router-outlet></router-outlet>
